/* Colors - Manual de estilo de marca.
********************/

// Colores corporativos
$black-corp: #000000;
$black-1: #000000; // 100% Black
$black-2: #2A2A2A; // Darker grey
$black-3: #555555; // Dark grey
$black-4: #808080; // Midpoint (50% grey)
$black-5: #AAAAAA; // Light grey
$black-6: #D5D5D5; // Lighter grey
$black-7: #FFFFFF; // 100% White

$blue-corp-lighter-1: #334CD2;
$blue-corp-lighter-2: #6678E5;
$blue-corp: #0020BF; // <--- Principal Corporativo
$blue-corp-darker-1: #001AA3;
$blue-corp-darker-2: #001487;

$red-corp-lighter-1: #F04F56;
$red-corp-lighter-2: #F48288;
$red-corp: #ED1C24; // <--- Principal Corporativo
$red-corp-darker-1: #D1191F;
$red-corp-darker-2: #B4151A;

$yellow-corp-lighter-1: #FFD55E;
$yellow-corp-lighter-2: #FFE390;
$yellow-corp: #feca00; // <--- Principal Corporativo
$yellow-corp-darker-1: #E6AD26;
$yellow-corp-darker-2: #CC9320;
