#site-btt a{

	position: fixed;
	bottom: 20px;
	right: 20px;
	text-decoration: none;
	display: none;
	width: 45px;
	height: 45px;
    border-radius: 50%;
	z-index: 2000;
	overflow: hidden;
	transition: all 0.2s linear;
	span{
		display: none;
	}
	&:before{
		// font-family: 'fontello';
		// content: '\e804';
		font-size: 24px;
		color: rgba(128,128,128,0.05);
		//text-shadow: $custom-text-shadow;
		line-height: 150%;
		margin: 7px 9px;				
	}
	&:hover{

		&:before{

			color: rgba(128,128,128,0.60);
		}		
		border-color: rgba(128,128,128,0.60);
		//background-color: rgba(255,255,255,0.40);
	}
    &.active{
        display: block;
    }
}
