// -----> Regular CSS (Partials, default watch files)
@import "assets/scss/base/base";
@import "assets/scss/partials/sao";
@import "assets/scss/partials/nav";
@import "assets/scss/partials/site-footer";
@import "assets/scss/partials/site-btt";


// -----> Front-page
@import "assets/scss/partials/section-industria-offshore";
@import "assets/scss/partials/site-hero";
@import "assets/scss/partials/site-categorias";
@import "assets/scss/partials/site-infraestructura-global-cadiz";
@import "assets/scss/partials/site-red-global";
@import "assets/scss/partials/noticias.scss";

// -----> Identidad Page
@import "partials/compania/page-identidad.scss";

// -----> Instalaciones Page
@import "partials/compania/page-instalaciones.scss";

// Grid lines
#site-content > .pin-spacer {
  position: relative!important;
  z-index: 120!important;
}

// Images Zoom
div:has(> .img-zoom) {
  overflow: hidden;
}

.img-zoom{
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

.container-site {
  max-width: 1920px;
  margin: 0 auto;
}

html, body {
  scroll-behavior: smooth;
}
